.skin-blue-light .main-header .navbar {
	background-color: #f5f5f5;
   }

.skin-blue-light .main-header .logo {
	background-color:#f5f5f5;
	color: #000000;
	border-bottom:0 solid transparent
   }
   
.skin-blue-light .main-header .logo:hover {
	background-color: #ffffff;
	border-color: #ddd;
   }   

.skin-blue-light .sidebar-menu > li.active > a, .skin-blue-light .sidebar-menu > li:hover > a {
    color: #000;
    background: #fff;
}

.sw-dropdown-content-show {
  display: block;
}

.sw-dropdown-content-hide {
  display: none;
}


.btn-default {
    background-color: #eee;
    border-color: #ddd;
    border-width: 0 1px 0 0;
	border-style: solid;
}


.btn-default.hover, .btn-default:active, .btn-default:hover {
	background-color: #ffffff;
	border-color: #ddd;
	color: #000000;
	border-width: 0 1px 0 0;
	border-style: solid;
}


.header-button {
	height: 50px;
	width: 100%;
	color: #000000;
	text-align: center;
	font-size: 24px;
	font-family: Arial,Helvetica,sans-serif;
	border-color:#ddd;
	background-size: cover;
	background-position: center;
}



.header-button-active {
	height: 50px;
	width: 100%;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
	font-size: 24px;
	font-family: Arial,Helvetica,sans-serif;
	border-color:#ddd;
	border-width:0 1px 0 0;
	border-style: solid;
	background-size: cover;
	background-position: center;
}

.tutorial-btn {
	background-color: #1e8bf0;
	border-color: #1e8bf0;
	color:#fff;
	width: 90%;
  	text-align: center;
}

.tutorial-btn:hover {
	background-color: #51a5f3;
	border-color: #51a5f3;
	color:#fff;
}


.refresh-btn-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  margin-left: 15px;
}

.refresh-btn {
	background-color: #fe7400;
	border-color: #fc8523;
	width: 90%;
  	text-align: center;
	color: #fff;
}

.refresh-btn:hover {
	background-color: #fe7400;
	border-color: #fc8523;
	color: #fff;
}

.refresh-ready-btn {
	background-color: #15b94c;
	border-color: #14ca51;
	color: #fff;	
	width: 90%;
  	text-align: center;
}

.refresh-ready-btn:hover {
	background-color: #73ee9c;
	border-color: #14ca51;
	color: #fff;
}

.bootstrap-select .dropdown-menu li a.opt {
	color: #000;
}

.dropdown-header {
	color: #000;
	font-size:14px;
}

/*disable sidebar-toggle*/
.sidebar-toggle {    
   visibility:hidden;  
   padding: 0;
} 

.navbar-nav {
   margin-top: 0;
}

/* increase the header height a bit , add padding for the sidebar */
.main-header .logo {
   height:65px;
   line-height:65px;
   font-size:25px;
}


.sidebar {
   padding-top: 20px;
   color: #000000;
}

.sidebar-text {
  padding-left: 10px;
}

.sidebar-text-overflow {
  padding-left: 10px;
  overflow: auto;
}

.modal-footer {
	text-align: center;
}

.overviewHeader {	
	font-family: HelveticaNeueLTW05-85Heavy,"Source Sans Pro",Helvetica,Arial,sans-serif;
	font-weight: initial;
	font-size:26px;
	letter-spacing:1.1px;
	line-height:1.1;
	color: #333;
	text-align: justify;
  }
  
.overviewHeaderDev {	
	font-family: HelveticaNeueLTW05-85Heavy,"Source Sans Pro",Helvetica,Arial,sans-serif;
	font-weight: initial;
	font-size:30px;
	letter-spacing:1.1px;
	line-height:1.1;
	color: rgb(243, 7, 7);
	text-align: center;
  }

.body {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #000;
  }

.heroImage {
  background-size: cover;
  position: relative;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
	width: 100%;
	height: 100%;
  max-width: 1200px;
}

.heroImage.fixedBack {
  background-attachment: fixed;
}

.t-heroImage.advancedHeroImage {
  display: -webkit-box;
  display: flex;
}

.header-dropdown-icon {
	color: black;
  }

section.sidebar .shiny-input-container {
	/* Proper spacing around inputs. */
	padding: 0px 15px 0px 15px;
	/* Wrap content (important for inline inputs). */
	white-space: normal;
}

.form-group {
	margin-bottom: 10px;
}